body{
    padding: 70px;
}

.bgGreyGaby{
    background-color: lightgrey!important;
}

.insta{
    font-family: 'Oleo Script', cursive;
    font-size: 22px;
}

/* .mainFeed {
    margin: auto;
    width: 600px;
}
.mainFeed .card-body {
    padding: 0px; */

.navsquare{
    color: gray;
}
.date{
    float: right;
}

/* .top images,
.middle images,
.bottom images{
    width: 100%;
    height: 15vw;
    object-fit: cover; */

/* .navSpace {
    height: 70px;
} */
/* .modal-backdrop { 
    z-index: 1020!important;
/* }  